<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="cizgi">

<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
</div>
</body>

<style>
html,body{
background-image: url('https://cdn.pixabay.com/photo/2017/08/11/15/20/wood-2631780_960_720.jpg');
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.cizgi{
  font-family:"Bradley Hand ITC";
  font-weight: bold;
  position:relative;
  width:410px;
  height:300px;
  right:800px;
  left:200px;
  bottom:700px;
  top:200px;

}

</style>

</html>