<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <a class="navbar-brand" >
              <%=link_to 'Home Page',"/recipes/",{:style=>'color:#FFFFFF;border-style:solid;width:100px;text-align:center', :class => "css_class"}%>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" >
              <%=link_to 'Add Recipe',"/recipes/new",{:style=>'color:#FFFFFF;border-style:solid;width:100px;text-align:center', :class => "css_class"}%>
            </a>

            <a class="navbarbtn" >


            <%= form_tag(recipes_path,method: :get) do%>
            <%= text_field_tag(:searchTag, params[:searchTag],{:style=>'background-color:white;border-color:black;height:30px;width:200px'})%>
            <%= submit_tag ("Search Tag"),{:style=>'background-color:white;border-color:black;text-color:black;font:bold 15px arial;margin-top:5px'}%>
            <% end %>

            <style>
              .navbarbtn{
                  position:absolute;
                  right:40px;

               }
            </style>
            </a>

          </nav>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <body>




        <div class="carousel-item active">
                <%= image_tag("spices.jpg", :style => 'z-index: -1;')%>
         </div>

        <div class= "needs-validation">
          <h3> Let's share your recipe with us !</h3>

            <%= form_with model: @recipe do |form| %>
          <%# <form class="needs-validation" novalidate> %>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <%= form.text_field :recipe_name, placeholder: "Recipe Name" %>
                    <%# <label for="validationTooltip01">Recipe Name</label> %>
                    <%# <input type="text" class="form-control" id="validationTooltip01"  placeholder="First name" value="Pancake" required> %>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                </div>
                  <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <%= form.text_field :recipe_detail, placeholder: "Detail" %>
                    <%# <label for="validationTooltip02">Recipe Details</label> %>
                    <%# <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" value="Take a cup,break egg into the cup..." required> %>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <%= form.text_field :recipe_tags, placeholder: "Tags" %>

                    <%# <label for="validationTooltip02">Recipe Details</label> %>
                    <%# <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" value="Take a cup,break egg into the cup..." required> %>
                    <div class="valid-tooltip">
                      Looks good!
                    </div>
                  </div>
                </div>
                    <%= form.hidden_field :recipe_id %>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <%= form.text_field :recipe_ingredients, placeholder: "Ingredients" %>
                    <%# <label for="validationTooltip03">Ingredients</label> %>
                    <%# <input type="text" class="form-control" id="validationTooltip03" placeholder="Olive oil,potata..." required> %>
                    <div class="invalid-tooltip">
                      Please provide a valid city.
                    </div>
                </div>
                </div>
                <div class=container>
                <div class="form-row">
                <div class="col-md-4 mb-3">
                        <form action="/action_page.php">
                            <%# <input type= "file" name="pic" accept="image/*"> %>
                            <%= form.file_field :image, placeholder: "Image"%>
                            <!-- <input type="submit"> -->
                          </form>
                  </div>
                </div>
              <div class=container>
                <div class="form-row">
                <div class="col-md-4 mb-3">
                  </div>
                </div>



                <style>

                .container {
                    position: relative;
                  }

                  input[type=text]{
                    width: 400px;
                    height: 100px;

                }

                </style>
                <style>
                .needs-validation{
                    align:center;
                    position:absolute;
                    bottom:200px;
                    top:200px;
                    right:500px;
                    left:500px;
                    height: 300px;
                    color: white;
                    padding-left: 50px;
                    padding-right: 50px;

                }
                </style>

             <%= form.submit :style => 'width:170px;height:40px;font:bold 15px arial;background-color:white;position:absolute;right:120px;left:120px' %>
            <% end %>
            </div>
            </div>


  </body>

</html>
