<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <a class="navbar-brand" >
                <%=link_to 'Home Page',"/recipes/",{:style=>'color:#FFFFFF;border-style:solid;width:100px;text-align:center', :class => "css_class"}%>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" >
              <%=link_to 'Add Recipe',"/recipes/new",{:style=>'color:#FFFFFF;border-style:solid;width:100px;text-align:center', :class => "css_class"}%>
            </a>

            <a class="navbarbtn" >


            <%= form_tag(recipes_path,method: :get) do%>
            <%= text_field_tag(:searchTag, params[:searchTag],{:style=>'background-color:white;border-color:black;height:30px;width:200px'})%>
            <%= submit_tag ("Search Tag"),{:style=>'background-color:white;border-color:black;text-color:black;font:bold 15px arial;margin-top:5px'}%>
            <% end %>

            <style>
              .navbarbtn{
                  position:absolute;
                  right:40px;

               }
            </style>
            </a>

          </nav>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="carousel-item active">
                  <%= image_tag("odun.jpg", :style => 'z-index: -1;background-position: center right;')%>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

    <body>

  <div class="card" style="width: 50rem; position: absolute;
                    background-color:white;
                    bottom:200px;
                    top:200px;
                    right: 350px;
                    resize: both;
                    overflow: auto;
                    height: 600px;">

     <h5 class="card-header"><strong><%= @recipe.recipe_name %></strong></h5>
      <div class="card-body">
      <p><%= @recipe.likes.count %> <%= (@recipe.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      <%= button_to 'Like', recipe_likes_path(@recipe), method: :recipe %>
      <div><%= notice %></div>
        <h5 class="card-title "><strong>Ingredients:</strong> </h5>
         <%= @recipe.recipe_ingredients %>
         <br>
            <%= image_tag(@recipe.image.url, alt:'Image',:style=>'height: auto;width: auto;max-width: 300px;max-height: 300px;') if @recipe.image?%>
          <br>
         <br>
          <h5 class="card-text"><strong>How to make ?</strong><br></h5>
          <%= @recipe.recipe_detail %>
          <br>
          <br>
          <h5 class= "card-text"><strong> Tags :</strong> </h5>
          <%= @recipe.recipe_tags %>
          <br>
          <br>

          <br>
          <div class=rm>
          <%= link_to 'Remove' , recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure delete this recipe?' } %>
          <%=link_to 'Edit  ',{:action => "edit", :controller => "recipes", :anchor => "id" }%>


          </div>
          <br>
          <style>
              .card-header {
                  background-color: black;
                  color:white;
              }
          </style>
  </div>
</div>

  </body>

</html>
